.show-enter {
    opacity: 0;
    transform: scale(2);
}

.show-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s, transform 1s;
}

.show-enter-done {
    background: blue;
    color: white;
}

.show-exit {
    opacity: 1;
}

.show-exit-active {
    opacity: 0;
    transform: scale(2);
    transition: opacity 1s, transform 1s;
}

.show-exit-done {
    background: #000;
}

.text {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
}
