.Toggle {
    display: inline-block;
}

.hello {
    color: red;
    transition: all 1s ease-in;
}

.world {
    color: blue;
    transition: all 1s ease-in;
}

.animation {
    animation: hide-item 2s ease-in forwards;
}

@keyframes hide-item {
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 1;
        color: gold;
    }
}
